body {
  background-color: @background_color_1;
  font-family: @font_family;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: @color_1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  color: @primary;
  text-decoration: none;
  font-weight: bold;
  transition: opacity .2s ease;
  outline: 0px;
}
a.cases {
  color: #000;
  font-weight: normal;
  cursor: default;
  &.islink {
    color: @primary;
    font-weight: bold;
    cursor: pointer;
  }
}

.container-wrap {
  z-index: 2;
  margin-bottom: 160px;
  background-color: @background_color_1;
  box-shadow: 0 0 30px 0 rgba(54, 69, 79, 0.86);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .container-wrap {
    margin-bottom: 0;
  }
}
/*.slide.slide--one .slide__inner {
    margin: 30px 0 0 0;
    height: 780px;
    background-color: #4957B8;
    background-image: url(../img/dot.svg);
    box-shadow: 0px 10px 14px 0px rgba(79, 90, 166, 0.35);
    border-radius: 10px;
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease, opacity .3s ease;
}*/
.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}
.keyframes(pulsate; {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
  50% {
    transform: scale(1.14);
    box-shadow: 0px 10px 14px 0 rgba(57, 80, 164, 0.69);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
});
.keyframes(pulsateArea; {
  0% {
    transform: scale(0.1);
    opacity: .1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
});