html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}
input,
textarea {
  border-radius: 0;
  appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
}
body {
  background-color: #F4F4F4;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #49555f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #1F9948;
  text-decoration: none;
  font-weight: bold;
  transition: opacity .2s ease;
}
.container-wrap {
  z-index: 2;
  margin-bottom: 160px;
  background-color: #F4F4F4;
  box-shadow: 0 0 30px 0 rgba(54, 69, 79, 0.86);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .container-wrap {
    margin-bottom: 0;
  }
}
/*.slide.slide--one .slide__inner {
    margin: 30px 0 0 0;
    height: 780px;
    background-color: #4957B8;
    background-image: url(../img/dot.svg);
    box-shadow: 0px 10px 14px 0px rgba(79, 90, 166, 0.35);
    border-radius: 10px;
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease, opacity .3s ease;
}*/
@-moz-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
  50% {
    transform: scale(1.14);
    box-shadow: 0px 10px 14px 0 rgba(57, 80, 164, 0.69);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
  50% {
    transform: scale(1.14);
    box-shadow: 0px 10px 14px 0 rgba(57, 80, 164, 0.69);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
  50% {
    transform: scale(1.14);
    box-shadow: 0px 10px 14px 0 rgba(57, 80, 164, 0.69);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 9px 0 rgba(57, 80, 164, 0.69);
  }
}
@-moz-keyframes pulsateArea {
  0% {
    transform: scale(0.1);
    opacity: .1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes pulsateArea {
  0% {
    transform: scale(0.1);
    opacity: .1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes pulsateArea {
  0% {
    transform: scale(0.1);
    opacity: .1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
/*
@media (max-width: 1140px) {
  .header {
    top: 0;
  }
  .header__inner {
    width: 100%;
    margin: 40px;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap {
    margin: 0 0 0 0;
    width: 100%;
  }
  .slide__inner {
    width: 100%;
    margin: 0;
  }
  .slide.slide--one {
    margin: 20px 20px 0 20px;
    .slide__inner {
      margin: 0 0 0 0;
      width: 100%;
    }
  }
  .tagline {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    left: 40px;
  }
  .slide.slide--three {
    .slide__inner {
      width: 860px;
    }
  }
  .slide.slide--five {
    .slide__inner {
      width: 860px;
      height: auto;
    }
  }
  .contributors {
    padding: 60px 0 0 0;
    width: 640px;
  }
  .contributor {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    margin: 0 0 24px 0;
    width: 160px;
  }
  .contributor__info {
    padding: 8px 0 0 0;
  }
  .footer-inner {
    width: 820px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-logo-wrap {
    width: 200px;
  }
  .section {
    padding: 60px 40px;
    h2 {
      font-size: 20px;
    }
  }
  .section.section--judges {
    padding: 60px 40px;
  }
  .schedule-item {
    padding-left: 40px;
    &:last-child {
      padding-left: 40px;
    }
  }
  .slide.slide--features {
    width: 100%;
    .slide__inner {
      width: auto;
      margin: 0 20px;
    }
  }
}
@media (max-width: 960px) {
  .nav {
    display: none;
  }
  a.logo {
    width: auto;
  }
  .shares {
    width: auto;
  }
  .tagline {
    width: 280px;
  }
}
@media (max-width: 840px) {
  .header__inner {
    margin: 30px;
  }
  .slide.slide--one {
    .slide__inner {
      height: 670px;
    }
  }
  .tagline {
    left: 30px;
    width: 246px;
    .tagline__title {
      font-size: 21px;
      line-height: 35px;
      margin: 0 0 0 0;
    }
    .tagline__body {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 10px 0;
    }
  }
}
@media (max-width: 767px) {
  .header__inner {
    margin: 20px 20px 20px 17px;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header-wrap {
    height: 92px;
    border-radius: 0;
  }
  .logo__icon {
    height: 48px;
    width: 48px;
    background-size: 48px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .logo__title {
    font-size: 18px;
    line-height: 24px;
  }
  .logo__description {
    font-size: 14px;
    line-height: 15px;
    span {
      display: none;
    }
  }
  .logo_text {
    margin: 0px 0 0 4px;
  }
  .shares {
    .social-links {
      li.social-link {
        margin: 0 0 0 7px;
      }
    }
  }
  .container-wrap {
    margin-bottom: 0;
  }
  .slide__header {
    padding: 0 20px;
    margin: 0 auto;
    width: auto;
    max-width: 300px;
  }
  .slide__title {
    font-size: 19px;
    line-height: 26px;
    margin: 0 0 6px 0;
  }
  .slide__description {
    font-size: 15px;
    line-height: 21px;
  }
  .slide__footer {
    font-size: 14px;
    line-height: 20px;
  }
  .slide.slide--one {
    margin: 0;
    .slide__inner {
      height: auto;
      border-radius: 0;
    }
  }
  .tagline {
    position: static;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    left: 0;
    top: 0;
    margin: 110px 0 0px 0;
    padding: 0 20px;
    width: auto;
    .tagline__body {
      margin: 0 0 10px 0;
    }
  }
  .tagline__footer {
    display: block;
    margin-top: 24px;
  }
  .button.button--more {
    display: none;
  }
  .slide.slide--two {
    margin: 50px auto 40px;
    padding: 0;
  }
  .examples {
    margin: 20px auto 10px;
    width: auto;
    padding: 0 10px;
  }
  .example__inner {
    margin: 5px;
    height: 160px;
    padding: 15px;
  }
  .example {
    width: 50%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .example__image {
    width: 50px;
    height: 50px;
  }
  .example__icon {
    width: 60px;
    height: 60px;
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .example__icon-inner {
    width: 60px;
    height: 60px;
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .slide.slide--three {
    padding: 40px 0 40px;
    .slide__inner {
      padding: 30px 0;
      width: 100%;
      border-radius: 0;
      height: 570px;
    }
  }
  .slide__circle-wrap {
    top: 145%;
  }
  .slide.slide--four {
    padding: 0px 0px 60px 0px;
  }
  .slide.slide--five {
    padding: 40px 0 40px;
    .slide__inner {
      padding: 30px 0;
      width: 100%;
      border-radius: 0;
    }
  }
  .footer {
    position: static;
    border-top: 0px;
  }
  .footer.footer--page {
    border-top: 100px solid #4A5C69;
  }
  .footer-inner {
    padding: 30px 0 0 0;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer--copyright {
    padding: 20px 30px;
  }
  .footer-logo-wrap {
    width: auto;
    -ms-flex-order: 2;
    order: 2;
  }
  .footer-header {
    margin: 0 0 10px 0;
  }
  .footer-logo-wrap__inner {
    width: 100%;
    padding: 0 0 40px 0;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
    a {
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
  }
  .footer-icon {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  .feature-item {
    margin: 0 0 34px 0;
    width: 100%;
    margin: 0 0 34px 0;
  }
  .section--enter {
    padding: 60px 40px 12px 40px;
  }
  .features {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-title {
    padding: 16px 0 8px 0;
  }
  .feature-text {
    min-height: auto;
  }
  .slide.slide--features {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    .slide__inner {
      border-radius: 0;
      margin: 0;
    }
  }
}
@media (max-width: 1220px) {
  .tagline {
    left: 65px;
  }
  .slide.slide--features {
    .slide__inner {
      width: 1100px;
    }
  }
}
@media (max-width: 1030px) {
  .tagline {
    width: 300px;
    top: 230px;
  }
}
@media (max-width: 922px) {
  .slide.slide--one {
    .slide__inner {
      height: 693px;
    }
  }
  .tagline {
    width: 260px;
    top: 180px;
  }
  .examples {
    margin: 50px auto 30px;
    width: 748px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .example {
    width: 25%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .example__inner {
    height: 260px;
    display: flex;
  }
  .example__image {
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .slide.slide--three {
    .slide__inner {
      width: 728px;
    }
  }
  .slide.slide--five {
    .slide__inner {
      width: 728px;
    }
  }
  .contributors {
    width: 100%;
  }
  .contributors__list {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contributor {
    width: 160px;
  }
  .section {
    &:first-child {
      padding-top: 60px;
    }
  }
}
*/
.button {
  display: block;
  height: 44px;
  line-height: 43px;
  padding: 0 20px;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  background-color: #68c0f8;
  box-shadow: 0 8px 14px 0 #DEE2E5;
  border-radius: 8px;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 0.1s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
.button:active {
  transform: translate3d(0, 0, 0) scale(0.99);
}
.button:hover {
  background-color: #9ae8a3;
}
.button.button--disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}
.button.button--secondary {
  box-shadow: none;
}
.button.button--secondary:hover {
  color: white;
  background-color: rgba(99, 112, 202, 0.1);
}
.button.button--more {
  padding: 0 35px;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.button.button--more:active {
  transform: translate3d(-50%, 0, 0) scale(0.99);
}
.header-wrap {
  margin: 30px 0 0 0;
  width: 1080px;
  height: 130px;
  background-color: #4957b8;
  background-image: url(../img/dot.svg);
  box-shadow: 0px 10px 14px 0px rgba(79, 90, 166, 0.35);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform .6s ease, opacity .3s ease;
}
.header {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 900;
  top: 40px;
  left: 0;
}
.header .nav a {
  color: white;
}
.header .nav a.nav__item--blog::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/icon_external.png);
  background-size: 16px;
  opacity: 0;
  transform: translate3d(5px, 0, 0) rotate(5deg);
  margin: 0 10px 0 0;
  transition: transform .2s ease, opacity .2s ease;
}
.header .nav a.nav__item--blog:hover::before {
  transform: translate3d(0, 0, 0) rotate(0deg);
  opacity: .4;
}
.header__inner {
  width: 1012px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.nav a {
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
  font-size: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px 15px;
}
.nav a:hover {
  opacity: .9;
}
a.logo {
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.logo__icon {
  height: 52px;
  width: 52px;
  background-image: url(../img/wepylogo.png);
  background-size: 52px;
  background-position: left;
}
.logo_text {
  margin: 2px 0 0 8px;
}
.logo__title {
  display: block;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: white;
}
.logo__description {
  display: block;
  font-size: 15px;
  line-height: 25px;
  color: white;
  opacity: .8;
}
.shares {
  width: 260px;
  height: 50px;
}
.shares .social-links {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.social-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-links li.social-link {
  margin: 0 5px;
}
li.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  transition: transform .2s ease;
  cursor: pointer;
}
.social-link.social-link--wx a {
  color: #1F9948;
  background-image: url(../img/icon_wechat.svg);
}
.social-link.social-link--gh a {
  color: #343332;
  background-image: url(../img/icon_gh.svg);
}
.social-link:hover a {
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
@media (max-width: 1440px) {
  .header {
    top: 0;
  }
  .header__inner {
    width: 100%;
    margin: 40px;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap {
    margin: 0 0 0 0;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .nav {
    display: none;
  }
  a.logo {
    width: auto;
  }
  .shares {
    width: auto;
  }
}
@media (max-width: 840px) {
  .header__inner {
    margin: 30px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    margin: 20px 20px 20px 17px;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header-wrap {
    height: 92px;
    border-radius: 0;
  }
  .logo__icon {
    height: 48px;
    width: 48px;
    background-size: 48px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .logo__title {
    font-size: 18px;
    line-height: 24px;
  }
  .logo__description {
    font-size: 14px;
    line-height: 15px;
  }
  .logo__description span {
    display: none;
  }
  .logo_text {
    margin: 0px 0 0 4px;
  }
  .shares .social-links li.social-link {
    margin: 0 0 0 7px;
  }
}
@media (max-width: 1220px) {
  .tagline {
    left: 65px;
  }
}
@media (max-width: 1030px) {
  .tagline {
    width: 300px;
    top: 230px;
  }
}
@media (max-width: 1140px) {
  .tagline {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    left: 40px;
  }
}
@media (max-width: 960px) {
  .tagline {
    width: 280px;
  }
}
@media (max-width: 922px) {
  .tagline {
    width: 260px;
    top: 180px;
  }
}
@media (max-width: 840px) {
  .tagline {
    left: 30px;
    width: 246px;
  }
  .tagline .tagline__title {
    font-size: 21px;
    line-height: 35px;
    margin: 0 0 0 0;
  }
  .tagline .tagline__body {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 767px) {
  .tagline {
    position: static;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    top: 0;
    margin: 110px 0 0px 0;
    padding: 0 20px;
    width: auto;
  }
  .tagline .tagline__body {
    margin: 0 0 10px 0;
  }
  .tagline__footer {
    display: block;
    margin-top: 24px;
  }
}
.tagline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 200;
  text-align: center;
  width: 100%;
  display: inline-block;
  top: 200px;
}
.tagline .tagline__title {
  font-family: font_family_1;
  color: white;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 5px 0;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .1s;
}
.tagline .tagline__body {
  color: white;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .2s;
}
.shown .tagline__title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.shown .tagline__body {
  opacity: .8;
  transform: translate3d(0, 0, 0);
}
.shown .tagline__shieds {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.shown .tagline__footer {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.tagline__button {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .3s;
}
.tagline__button .button.button--secondary {
  font-size: 16px;
  border: #fff 2px solid;
  color: #353535;
  background-color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radisu: 8px;
  width: 180px;
}
.tagline__shieds {
  margin-top: 60px;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .3s;
}
.tagline__shieds--social {
  display: block;
  margin-bottom: 20px;
}
.tagline__footer {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 25px;
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .3s;
  display: none;
}
.tagline__footer-inner {
  transition: opacity .2s ease;
}
.tagline__footer.tagline__footer--hidden .tagline__footer-inner {
  opacity: 0;
}
.button.button--secondary {
  box-shadow: none;
}
.button.button--secondary:hover {
  color: white;
  background-color: rgba(99, 112, 202, 0.1);
}
.button.button--more {
  padding: 0 35px;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.button.button--more:active {
  transform: translate3d(-50%, 0, 0) scale(0.99);
}
@media (max-width: 1140px) {
  .footer-inner {
    width: 820px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-logo-wrap {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .footer {
    position: static;
    border-top: 0px;
  }
  .footer.footer--page {
    border-top: 100px solid #4A5C69;
  }
  .footer-inner {
    padding: 30px 0 0 0;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer--copyright {
    padding: 20px 30px;
  }
  .footer-logo-wrap {
    width: auto;
    -ms-flex-order: 2;
    order: 2;
  }
  .footer-header {
    margin: 0 0 10px 0;
  }
  .footer-logo-wrap__inner {
    width: 100%;
    padding: 0 0 40px 0;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  .footer-link a {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .footer-icon {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  .feature-item {
    margin: 0 0 34px 0;
    width: 100%;
  }
  .section--enter {
    padding: 60px 40px 12px 40px;
  }
  .features {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-title {
    padding: 16px 0 8px 0;
  }
  .feature-text {
    min-height: auto;
  }
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #353535;
}
.footer.footer--page {
  position: static;
  margin: -96px 0 0 0;
  border-top: 56px solid #4A5C69;
}
.footer-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1080px;
}
.footer--copyright {
  color: white;
  opacity: .5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 65px 0 75px 0;
}
.footer-logo-wrap {
  width: 280px;
  display: -ms-flexbox;
  display: flex;
}
.footer-logo-wrap__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 65px 0 75px 0;
}
.footer-logo {
  width: 52px;
  height: 52px;
  background-size: 52px;
  background-image: url(../img/wepylogo.png);
}
.footer-header {
  color: white;
  opacity: .5;
  font-size: 18px;
  margin: 0 0 40px 0;
}
.footer-link {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 0 0 15px 0;
}
.footer-link a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}
.footer-link a:hover {
  opacity: .8;
}
.footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 15px 0 0;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}
.examples {
  margin: 50px auto 30px;
}
.example {
  display: block;
  text-decoration: none;
  width: 19%;
  opacity: 0;
  transition: transform .6s ease, opacity .4s ease;
  transition-delay: .1s;
}
.example:hover .example__inner {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.slide--shown {
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.slide--shown .example {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slide--shown .example__icon-inner {
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.example.example--plus {
  display: -ms-flexbox;
  display: flex;
}
.example.example--plus a.example--plus__link {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.example__inner {
  background-color: white;
  height: 200px;
  margin: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.example__title {
  font-size: 15px;
  line-height: 15px;
  font-family: font_family;
  margin: 0 0 10px 0;
}
.example__description {
  font-size: 14px;
  line-height: 20px;
  color: #353535;
  opacity: .8;
}
.example__wximage {
  display: block;
  width: 160px;
  height: 160px;
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}
.example__icon {
  display: block;
  width: 72px;
  height: 72px;
  margin: 0 0 10px 0;
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}
.example--plus:hover .example__icon {
  -ms-transform: scale(1.12);
  transform: scale(1.12);
}
.example--plus .example__description {
  text-align: center;
  display: inline-block;
  width: 80%;
}
.example__icon-inner {
  width: 72px;
  height: 72px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.135, 1.425), opacity 0.2s ease;
  transition-delay: 1.2s;
}
.example__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
  text-align: center;
  bottom: 20px;
  background-color: white;
  background-size: cover;
}
/** https://github.com/codrops/TooltipAnimations **/
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip__trigger {
  cursor: pointer;
  position: relative;
}
.tooltip__trigger-text {
  display: block;
  padding: 0.85em;
  pointer-events: none;
}
.tooltip__base {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -420px;
  width: 420px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.tooltip__content {
  color: #323232;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 0 1em;
  opacity: 0;
  flex-direction: column;
  font-size: 1.1em;
  font-weight: 500;
}
.tooltip__content .qrcode {
  width: 123px;
  height: 123px;
  position: relative;
  justify-content: center;
  display: inline-block;
  float: left;
}
.tooltip__shape,
.tooltip__deco {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tooltip__shape {
  fill: rgba(255, 255, 255, 0.85);
}
.slides {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.slide {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
.slide__inner {
  width: 1180px;
  position: relative;
}
.slide__header {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}
.slide__title {
  color: #1F9948;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 15px 0;
}
.slide__description {
  color: #353535;
  font-size: 14px;
  line-height: 25px;
}
.slide__footer {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: #70808D;
  opacity: .6;
  font-size: 15px;
  line-height: 25px;
}
.slide__header--inversed .slide__title {
  color: white;
}
.slide__header--inversed .slide__description {
  color: white;
  opacity: .6;
}
.slide--shown {
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.slide--shown .example {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slide--shown .example__icon-inner {
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
@media (max-width: 1140px) {
  .slide__inner {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .slide__header {
    padding: 0 20px;
    margin: 0 auto;
    width: auto;
    max-width: 300px;
  }
  .slide__title {
    font-size: 19px;
    line-height: 26px;
    margin: 0 0 6px 0;
  }
  .slide__description {
    font-size: 15px;
    line-height: 21px;
  }
  .slide__footer {
    font-size: 14px;
    line-height: 20px;
  }
  .slide.slide--one {
    margin: 0;
  }
  .slide.slide--one .slide__inner {
    height: auto;
    border-radius: 0;
  }
}
@media (max-width: 1140px) {
  .slide__inner {
    width: 100%;
    margin: 0;
  }
  .slide.slide--one {
    margin: 20px 20px 0 20px;
  }
  .slide.slide--one .slide__inner {
    margin: 0 0 0 0;
    width: 100%;
  }
}
@media (max-width: 922px) {
  .slide.slide--one .slide__inner {
    height: 693px;
  }
}
.slide.slide--one .slide__inner {
  position: relative;
  margin: 40px 0 0 0;
  height: 720px;
  background-color: #1F9948;
  border-radius: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform .6s ease, opacity .3s ease;
  background-image: linear-gradient(180deg, #1F9948 0%, #2CDA9C 77%);
  box-shadow: 0 10px 18px 0 rgba(122, 135, 142, 0.33);
}
.slide.slide--one .slide__bg-image {
  width: 814px;
  height: 519px;
  background-image: url(../img/lines@2x.png);
  background-size: 814px;
  position: absolute;
  left: 12.5%;
  top: 0;
  margin: 0 0 0 -408px;
}
.slide__bg-area {
  position: absolute;
  background-color: white;
  opacity: 0;
  left: 50%;
  top: -88px;
  margin: 0 0 0 -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  animation-timing-function: ease;
  animation-name: pulsateArea;
  animation-duration: 3.4s;
  animation-delay: 2.3s;
  animation-iteration-count: infinite;
}
.slide.slide--features {
  position: relative;
  top: -220px;
  padding: 0 0 100px 0;
}
.slide.slide--features .slide__inner {
  width: 1080px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.section {
  padding: 80px 100px;
}
.section:first-child {
  padding-top: 100px;
}
.section h2 {
  font-family: font_family;
  font-size: 24px;
  padding: 16px 0 24px 0;
  position: relative;
  color: #1F9948;
}
.section h2::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: #1F9948;
  top: -4px;
  left: 0;
}
.section .text {
  font-size: 18px;
  line-height: 26px;
  color: #353535;
}
.section .text p {
  padding: 0;
}
.features {
  margin: 50px auto 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.feature-item {
  display: block;
  text-decoration: none;
  width: 33.3%;
  background-color: white;
  border-radius: 8px;
  padding-top: 30px;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.feature-title {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.feature-text {
  font-size: 14px;
  line-height: 26px;
  color: #353535;
  padding: 0 32px 0 0;
  min-height: 78px;
}
.button.feature-button {
  width: 160px;
  line-height: 44px;
  box-shadow: none;
  background-color: #1F9948;
  color: white;
  margin: 24px 0 0 0;
}
.button.feature-button:hover {
  background-color: #3F4A97;
}
.feature-icon-wrap {
  height: 46px;
}
.feature-icon {
  background-repeat: no-repeat;
}
.feature-icon--style {
  width: 38px;
  height: 46px;
  background-image: url(../img/fatures/icon_feature_style.svg);
}
.feature-icon--component {
  width: 34px;
  height: 46px;
  background-image: url(../img/fatures/icon_feature_component.svg);
}
.feature-icon--npm {
  width: 34px;
  height: 46px;
  background-image: url(../img/fatures/icon_feature_npm.svg);
}
.feature-icon--promise {
  width: 34px;
  height: 46px;
  background-image: url(../img/fatures/icon_feature_promise.svg);
}
.feature-icon--optimize {
  width: 34px;
  height: 46px;
  background-image: url(../img/fatures/icon_feature_optimize.svg);
}
.feature-icon--compile {
  width: 34px;
  height: 40px;
  background-image: url(../img/fatures/icon_feature_compile.svg);
}
.feature-icon--plugin {
  width: 21px;
  height: 32px;
  background-image: url(../img/fatures/icon_feature_plugin.svg);
}
.feature-icon--size {
  width: 32px;
  height: 32px;
  background-image: url(../img/fatures/icon_feature_size.svg);
}
@media (max-width: 1220px) {
  .slide.slide--features .slide__inner {
    width: 1100px;
  }
}
@media (max-width: 1140px) {
  .slide.slide--features {
    width: 100%;
  }
  .slide.slide--features .slide__inner {
    width: auto;
    margin: 0 20px;
  }
}
@media (max-width: 922px) {
  .section:first-child {
    padding-top: 60px;
  }
  .slide.slide--features {
    width: 100%;
  }
  .slide.slide--features .slide__inner {
    width: auto;
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .feature-item {
    width: 100%;
    margin: 0 0 34px 0;
  }
  .section--enter {
    padding: 60px 40px 12px 40px;
  }
  .features {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-title {
    padding: 16px 0 8px 0;
  }
  .feature-text {
    min-height: auto;
  }
  .slide.slide--features {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
  }
  .slide.slide--features .slide__inner {
    border-radius: 0;
    margin: 0;
  }
}
.slide.slide--gist {
  padding: 40px 0 40px 0;
  margin: -280px 0 0 0;
  z-index: 1;
}
.slide.slide--gist .slide__inner {
  display: flex;
  flex-direction: column;
}
.slide.slide--gist .slide__inner .slide__body {
  max-width: 50rem;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 1140px) {
  .section {
    padding: 60px 40px;
  }
  .section h2 {
    font-size: 20px;
  }
  .section.section--judges {
    padding: 60px 40px;
  }
}
@media (max-width: 922px) {
  .examples {
    margin: 50px auto 30px;
    width: 748px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .example {
    width: 25%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .example__inner {
    height: 260px;
    display: flex;
  }
  .example__image {
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .section:first-child {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .slide.slide--examples {
    margin: 50px auto 40px;
    padding: 0;
  }
  .examples {
    margin: 20px auto 10px;
    width: auto;
    padding: 0 10px;
  }
  .example__inner {
    margin: 5px;
    height: 160px;
    padding: 15px;
  }
  .example {
    width: 50%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .example__image {
    width: 50px;
    height: 50px;
  }
  .example__icon {
    width: 60px;
    height: 60px;
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .example__icon-inner {
    width: 60px;
    height: 60px;
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  .slide__circle-wrap {
    top: 145%;
  }
}
.slide.slide--examples {
  padding: 40px 0 40px 0;
}
@media (max-width: 1140px) {
  .slide.slide--three .slide__inner {
    width: 860px;
  }
}
@media (max-width: 922px) {
  .slide.slide--three .slide__inner {
    width: 728px;
  }
}
@media (max-width: 767px) {
  .slide.slide--three {
    padding: 40px 0 40px;
  }
  .slide.slide--three .slide__inner {
    padding: 30px 0;
    width: 100%;
    border-radius: 0;
    height: 570px;
  }
}
.slide.slide--three {
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 60px;
}
.slide.slide--three .slide__inner {
  background-image: linear-gradient(-180deg, #5A6F7E 0%, #445561 100%);
  box-shadow: 0px 12px 23px 0px rgba(74, 92, 105, 0.33);
  border-radius: 8px;
  padding: 50px 0;
  height: 740px;
  width: 1080px;
}
@media (max-width: 767px) {
  .slide.slide--four {
    padding: 0px 0px 60px 0px;
  }
}
.slide.slide--four {
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 100px;
}
.slide.slide--four .slide__inner {
  border-radius: 8px;
  padding: 20px 0 0 0;
  height: auto;
  width: auto;
}
.slide.slide--four .button {
  margin: 20px auto 0;
  width: 170px;
}
@media (max-width: 767px) {
  .slide.slide--five {
    padding: 40px 0 40px;
  }
  .slide.slide--five .slide__inner {
    padding: 30px 0;
    width: 100%;
    border-radius: 0;
  }
}
.slide.slide--five {
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 60px;
}
.slide.slide--five .slide__inner {
  background-image: linear-gradient(-138deg, #5070D5 14%, #4957B8 100%);
  box-shadow: 0px 12px 23px 0px rgba(74, 92, 105, 0.33);
  border-radius: 8px;
  padding: 50px 0;
  height: 600px;
  width: 1080px;
}
.slide.slide--five .slide__header {
  padding: 150px 0 0 0;
}
.slide.slide--five .slide__bg-image {
  width: 814px;
  height: 519px;
  background-image: url(../img/lines@2x.png);
  background-size: 814px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -407px;
}
.slide.slide--five .slide__bg-icon {
  position: absolute;
  top: 35px;
  left: 50%;
  margin: 0 0 0 -75px;
  height: 150px;
  width: 150px;
}
.slide.slide--six {
  padding: 40px 0 40px 0;
  margin: 0 0 0 0;
}
.slide.slide--six .slide__footer {
  width: 450px;
}
/*! Flickity v2.0.10
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: none;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flickity-prev-next-button:hover {
  background: white;
}
.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}
.flickity-prev-next-button:active {
  opacity: 0.6;
}
.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}
.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-prev-next-button .arrow {
  fill: #333;
}
/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
/* ------------------------------------------------------------------------------
 *
 *  # Prism
 *
 *  Lightweight, extensible syntax highlighter
 *
 *  Version: 1.0
 *  Latest update: May 10, 2015
 *
 * ---------------------------------------------------------------------------- */
code[class*="language-"],
pre[class*="language-"] {
  text-shadow: 0 1px #fff;
  word-break: normal;
  line-height: 1.5;
  direction: ltr;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: #999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #DD4A68;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.namespace {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  background: rgba(133, 238, 149, 0.12);
  pointer-events: none;
  white-space: pre;
  line-height: inherit;
}
.line-highlight:before,
.line-highlight:after {
  content: attr(data-start);
  position: absolute;
  top: 0px;
  left: 10px;
  padding: 2px;
  text-align: center;
  font-size: 10px;
  color: #777777;
}
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0;
}
pre.line-numbers {
  position: relative;
  padding-left: 50px;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 0px;
  width: 36px;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.line-numbers .line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.line-numbers .line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #777777;
  display: block;
  padding-right: 10px;
  text-align: right;
}
pre[class*="language-"] {
  overflow: auto;
  position: relative;
  border-left-width: 3px;
  border-left-color: #31639C;
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
  background-image: -ms-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
  background-image: -o-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
  background-image: linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
pre[class*="language-"] > code[data-language] {
  display: block;
}
pre[class*="language-"] > code[data-language]:before {
  content: attr(data-language);
  background-color: #f8f8f8;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 11px;
  border-radius: 0 0 0 2px;
  padding: 4px 8px;
  text-shadow: none;
  color: #333333;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
pre[class*="language-"].line-numbers > code[data-language]:before {
  top: -15px;
  right: -15px;
}
pre[data-line] {
  position: relative;
  padding-left: 36px;
}
.enter {
  animation: move 1s;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
strong {
  font-weight: bolder;
}
pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: small;
}
.window {
  margin: 2em auto;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.window figcaption {
  display: -webkit-flex;
  display: flex;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding-right: 66px;
  padding-left: 12px;
}
.window pre {
  padding: 7px 12px;
  margin: 0;
  line-height: 1.6;
  overflow: scroll;
}
.chrome.btn {
  display: inline-block;
  border-radius: 50%;
  min-width: 12px;
  height: 12px;
  margin: 12px 6px;
  margin-left: 0;
}
.chrome.close {
  background-color: #ff5f56;
  cursor: pointer;
}
.chrome.minimize {
  background-color: #ffbd2e;
}
.chrome.fullscreen {
  background-color: #27c93f;
}
.chrome.title {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
}
.gist,
.browser {
  text-align: left;
  border-color: #ddd;
  color: #777;
  background-color: #fdfdfc;
}
.gist figcaption,
.browser figcaption {
  background: #fafafa;
  border-bottom-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.gist pre {
  color: #777;
}
.gist .chrome.btn {
  background-color: #ccc;
}
.browser div {
  color: initial;
  padding: 6px;
  font-size: 14px;
  line-height: 1.5;
}
.browser .chrome.btn {
  opacity: 0.5;
}
.browser .chrome.title {
  font-size: 12px;
}
.browser .chrome.title a,
.browser .chrome.title .link {
  background-color: rgba(0, 0, 0, 0.05);
  color: #777;
  border-radius: 4px;
  padding: 0.25em 2em;
  margin: 0.5em auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-width: 20em;
}
.browser .chrome.title a::before {
  content: '+';
  position: absolute;
  left: 0.5em;
  top: 0.35em;
  display: block;
  border-radius: 100%;
  border: 1px solid currentcolor;
  width: 1em;
  height: 1em;
  line-height: 1;
  padding-left: 0.05em;
  padding-bottom: 0.05em;
  opacity: 0;
  transition: opacity 200ms;
}
.browser .chrome.title a:hover::before,
.browser .chrome.title a:focus::before {
  opacity: 1;
}
.terminal {
  color: #93a1a1;
  background-color: #002b36;
  border-width: 0;
}
.terminal figcaption {
  border-bottom-color: #073642;
  color: #657b83;
}
.terminal .command::before,
.terminal .input::before {
  content: '$ ';
  font-weight: bold;
}
.terminal .input {
  font-weight: bold;
}
.terminal .hl {
  color: #b58900;
}
.terminal .nok {
  color: #dc322f;
}
.terminal .ll {
  color: #586e75;
}
.terminal .chrome.close {
  background-color: #dc322f;
}
.terminal .chrome.minimize {
  background-color: #b58900;
}
.terminal .chrome.fullscreen {
  background-color: #859900;
}
.caret {
  font-weight: bold;
}
.caret.blink {
  animation: blink 1s linear infinite;
  opacity: 1;
}
@keyframes blink {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
.gallery {
  width: 450px;
  position: relative;
}
.gallery .window pre {
  min-height: 400px;
}
.gallery .window:first-child {
  transform: scale(0.7) translate(-98%, 5%);
  transform-origin: 0 0;
}
.gallery .window:first-child,
.gallery .window:last-child {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 80%;
}
@media (max-width: 78em) {
  .gallery .window:first-child,
  .gallery .window:last-child {
    display: none;
  }
}
.gallery .window:first-child pre,
.gallery .window:last-child pre {
  height: 500px;
  opacity: 0.5;
  overflow: hidden;
}
.gallery .window:first-child {
  transform: scale(0.7) translate(-98%, 5%);
  transform-origin: 0% 0%;
}
.gallery .window:last-child {
  transform: scale(0.7) translate(130%, 5%);
  transform-origin: 100% 0%;
}
