.slide.slide--examples {
  padding: 40px 0 40px 0;
  margin-bottom: 80px;
  margin-top: -50px;

}

.slide.slide--examples h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
@media (max-width: 767px) {

  .carousel {
    //background: #FAFAFA;
    //margin-bottom: 30px;
    //counter-reset: carousel-cell;
  }
  .carousel-cell {
    width: 66%;
    height: 210px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .slide.slide--examples {
    padding: 0;
  }
  .examples {
    margin: 20px auto 10px;
    width: auto;
    padding: 0 10px;
  }
  .example__inner {
    margin: 5px;
    height: 180px;
    padding: 15px;
  }
  .example {
    width: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .example__image {
    width: 160px;
    height: 160px;
  }
}