.slide.slide--gist {
  padding: 40px 0 40px 0;
  margin: -280px 0 0 0;
  //position: absolute;
  z-index: 1;
  .slide__inner {
    display: flex;
    flex-direction: column;
    .slide__body {
      max-width: 50rem;
      position: relative;
      margin: 0 auto;
      padding: 2rem;
    }
  }

  article {
  }
}
